{% extends "shop/base.html" %}
{% block title %}
Your cart
{% endblock %}
{% block content %}
<h1>Your shopping cart</h1>
<table class="cart">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Remove</th>
      <th>Unit price</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart %}
    {% with product=item.product %}
    <tr>
      <td>{{ product.name }}</td>
      <td>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
          {{ item.update_quantity_form.quantity }}
          {{ item.update_quantity_form.override }}
          <input type="submit" value="Update">
          {% csrf_token %}
        </form>
      </td>
      <td>
        <form action="{% url "cart:cart_remove" product.id %}" method="post">
          <input type="submit" value="Remove">
          {% csrf_token %}
        </form>
      </td>
      <td>${{ item.price }}</td>
      <td>${{ item.total_price }}</td>
    </tr>
    {% endwith %}
    {% empty %}
    <tr>
      <td colspan="5">Your cart is empty.</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">Total</td>
      <td>${{ cart.get_total_price }}</td>
    </tr>
  </tfoot>
</table>
<p>
  <a href="{% url "shop:product_list" %}">Continue shopping</a>
  <a href="{% url "orders:order_create" %}">Checkout</a>
</p>
{% endblock %}
